body {
    background-color: #CFCFCF;
    font-family: Arial, Helvetica, sans-serif;
}
.departureinfo {
    background-color: #001b36;
    color: #527aa4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-size: 12px;
    padding-bottom: 15px;
}

.departureinfo h4 {
    font-size: 10px;
}

.departureinfo h2 {
    color: white;
    font-size: 12px;
    margin: 13px 0;
}

#boardingpass {
    max-width: 50%;
    background-color: white;
    margin: 0 auto;

}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;   
}

header .logo {
    text-align: left;
}   

.gateinfo {
    background-color: #f1f1f1;
    color: #001b36;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    font-size: 12px;
    padding: 10px 0;
}